.footerContainer {
	padding: rfs(5rem) 0 rfs(2.5rem);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #5b5b5b;
    color: white;
    .footerCopyright {
        text-align: center;
        padding-top: rfs(2.5rem);
    }
    .footerContents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: rfs(120rem);
        gap: rfs(1rem);
        .colOne {
            border-right: 1px solid;
            padding: rfs(5rem) 0;
            .rowOne {
                border-bottom: 1px solid;
                padding-right: rfs(2.5rem);
                h3 {
                    font-size: rfs(2.5rem);
                }
            }
            .rowTwo {
                padding-right: rfs(2.5rem);
            }
            .textContainer {
                display: flex;
                flex-direction: column;
                gap: rfs(.5rem);
                margin-top: rfs(1rem);
                span {
                    color: #dedede;
                    font-size: rfs(1.5rem);
                }
                a, p {
                    font-size: rfs(1.25rem);
                }
            }
        }
    }
	.colTwo {
		.textContainer {
			margin: rfs(2.5rem) 0;
			text-align: center;
			font-size: rfs(2.5rem);
			text-transform: uppercase;
		}
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rfs(1.5rem);
			width: auto;
			max-width: rfs(60rem);
			margin: auto;
			input,
			textarea {
				font-size: rfs(1.5rem);
				outline: 1px solid #afafaf;
				padding: rfs(0.75rem);
				width: 100%;
				text-align: center;
				border-radius: 5px;
			}
			> div:nth-child(2) {
				display: flex;
				flex-direction: row;
				gap: rfs(1.5rem);
			}
			div {
				position: relative;
				width: 100%;
			}
			p {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				color: red;
				width: 100%;
				text-align: center;
			}
		}
	}
}
