.sectionOne {
    position: relative;
    width: 100%;
    height: rfs(30rem);
    img {
        object-fit: cover;
    }
}

.sectionTwo, .sectionFive, .sectionSeven {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-bottom: rfs(1rem);
    }
    p {
        margin-top: rfs(0.5rem);
    }
    hr {
        width: rfs(15rem);
        border-color: black;
    }
}

.sectionThree {
    display: flex;
    justify-content: center;
    .textBlurb {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: rfs(25rem);
        h4 {
            font-size: rfs(1.5rem);
        }
        h4, p {
            text-align: center;
        }
        .icon {
            width: rfs(2rem);
            height: rfs(2rem);
        }
    }
}

.sectionFour {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333333;
    padding: rfs(5rem) rfs(2.5rem);
    gap: rfs(2rem);
    flex-wrap: wrap;
    .col {
        position: relative;
        width: 100%;
        height: rfs(20rem);
        img {
            object-fit: cover;
            border-radius: 10px;
        }
        h4, p {
            color: white;
        }
        h4 {
            font-size: rfs(1.5rem);
        }
        p {
            font-size: rfs(1rem);
        }
    }
    .colOne, .colFive {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .colFive {
        flex-direction: column;
        gap: rfs(1rem);
    }
}

.sectionSix {
    display: flex;
    justify-content: center;
    .textBlurb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: rfs(25rem);
        h4 {
            font-size: rfs(1.5rem);
            text-align: left;
        }
        hr {
            width: rfs(15rem);
            border-color: black;
        }
        ul li {
            list-style-type: disc;
            text-align: left;
            list-style-position: inside;
        }
    }
}

.sectionEight {
    padding: rfs(2.5rem) 0;
    .swiper {
        height: rfs(30rem);
        width: rfs(120rem);    
    }
}